.example-form {
    min-width: 750px;
    max-width: 500px;
    width: 100%;
  }
  
  .full-width {
    width: 100%;
  }
  
  td {
    padding-right: 8px;
  }
  
  .example-right-align {
    -moz-appearance: textfield;
  }
  
  .example-right-align {
    text-align: right;
  }
  
  input.example-right-align::-webkit-outer-spin-button,
  input.example-right-align::-webkit-inner-spin-button {
    display: none;
  }
  
  input.example-right-align {
    -moz-appearance: textfield;
  }
  