<mat-toolbar color="primary">
  <mat-toolbar-row>
    <span>Aplicación de Empleos</span>
    <span class="example-spacer"></span>

    <button [routerLink]="'login-cliente'" mat-raised-button color="primary" class="example-icon"
            aria-label="Detalles"  *ngIf="!isLoggedIn">
      Ingresar
    </button>
    <button  mat-raised-button color="primary" class="example-icon"
            aria-label="Detalles"  *ngIf="isLoggedIn" (click)="logOut()" >
      Salir
    </button>
  </mat-toolbar-row>
</mat-toolbar>
