<div class="body-container">
  <mat-sidenav-container class="sidenav-container">
    <mat-sidenav #drawer [mode]="'side'" [opened]="drawerOpened" class="mat-elevation-z4 side-nav">
      <mat-toolbar color="primary">Menú</mat-toolbar>

      <mat-nav-list>
        <ng-container *ngIf="hasRole(rolesEnum.user)">
          <a mat-list-item [routerLink]="'/dashboard/chat'">
            <mat-icon mat-list-icon>chat_bubble_outline</mat-icon>
            <span>Simulador de entrevistas (IA)</span>
          </a>
        </ng-container>

        <ng-container *ngIf="hasRole(rolesEnum.admin)">
          <a mat-list-item [routerLink]="'/admin/dashboard'">
            <mat-icon mat-list-icon>admin_panel_settings</mat-icon>
            <span>Panel de Administración</span>
          </a>
        </ng-container>
      </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content>
      <mat-toolbar color="primary">
        <button mat-icon-button (click)="toggleDrawer()">
          <mat-icon>menu</mat-icon>
        </button>
        <span>Aplicación de Empleos</span>
        <span class="example-spacer"></span>

        <button *ngIf="isEmpresa" [routerLink]="''" mat-raised-button color="primary" (click)="onToggleIsEmpresa()">
          Para Persona
        </button>

        <button *ngIf="!isEmpresa" [routerLink]="'/registro-empresa'" mat-raised-button color="primary" (click)="onToggleIsEmpresa()">
          Para Empresa
        </button>

        <button *ngIf="!isLoggedIn" mat-raised-button color="primary" [routerLink]="'/login-cliente'">
          Ingresar
        </button>
        <button *ngIf="isLoggedIn" mat-raised-button color="primary" (click)="logOut()">
          Salir
        </button>
      </mat-toolbar>

      <div class="main-content">
        <router-outlet></router-outlet>
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
