<h1>Datos de Registro</h1>
<hr>
<mat-stepper [linear]="true" #stepper>
  <mat-step [stepControl]="firstFormGroup">
    <div class="container">
      <form class="example-form" [formGroup]="firstFormGroup">
        <ng-template matStepLabel>Información personal</ng-template>

        <mat-form-field class="example-full-width">
          <mat-label>Número de Identificación</mat-label>
          <input matInput required [(ngModel)]="cliente.numeroDeIdentificacion" formControlName="identificationNumber" name="identification">
        </mat-form-field>

        <mat-form-field class="example-full-width">
          <mat-label>Contraseña</mat-label>
          <input matInput [type]="hide ? 'password' : 'text'" formControlName="password" name="password" required [(ngModel)]="cliente.password">
          <button mat-icon-button matSuffix (click)="hide = !hide">
            <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
          </button>
        </mat-form-field>

        <mat-form-field class="example-full-width">
          <mat-label>Correo Electrónico</mat-label>
          <input matInput formControlName="email" required [(ngModel)]="cliente.correoElectronico" name="correoElectronico">
        </mat-form-field>

        <table class="example-full-width" cellspacing="0">
          <tr>
            <td>
              <mat-form-field class="example-full-width">
                <mat-label>Nombre</mat-label>
                <input matInput required formControlName="name" [(ngModel)]="cliente.nombre" name="name">
              </mat-form-field>
            </td>
            <td>
              <mat-form-field class="example-full-width">
                <mat-label>Apellido</mat-label>
                <input matInput required formControlName="lastName" [(ngModel)]="cliente.apellido" name="lastname">
              </mat-form-field>
            </td>
          </tr>
        </table>

        <mat-form-field class="example-full-width">
          <mat-label>Dirección</mat-label>
          <textarea matInput formControlName="address" required [(ngModel)]="cliente.direccion" name="address"></textarea>
        </mat-form-field>

        <mat-form-field class="example-full-width">
          <mat-label>Ciudad</mat-label>
          <input matInput formControlName="city" required>
        </mat-form-field>

        <table class="example-full-width" cellspacing="0">
          <tr>
            <td>
              <mat-form-field class="example-full-width">
                <mat-label>Fecha de nacimiento</mat-label>
                <input matInput formControlName="dateOfBirth" required [matDatepicker]="picker" [(ngModel)]="cliente.fechaNacimiento" name="dateOfBirth">
                <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
              </mat-form-field>
            </td>
            <td>
              <mat-form-field class="example-full-width">
                <mat-label>Número telefónico</mat-label>
                <input matInput formControlName="mobile" placeholder="Ej. 319323233223" [(ngModel)]="cliente.numeroTelefonico" name="number">
              </mat-form-field>
            </td>
          </tr>
        </table>

        <div>
          <button mat-button matStepperNext>Continuar</button>
        </div>
      </form>
    </div>
  </mat-step>

  <mat-step [stepControl]="secondFormGroup" label="Perfil laboral">
    <form [formGroup]="secondFormGroup">

      <mat-form-field style="width: 100%;">
        <mat-label>Hoja de vida</mat-label>
        <button mat-icon-button matPrefix (click)="f_input.click()">
          <mat-icon>attach_file</mat-icon>
        </button>
        <input type="text" readonly matInput [formControl]="display"  />
        <input
          type="file"
          multiple
          hidden
          #f_input
          (change)="handleFileInputChange(f_input.files)"
        />
        <mat-error>Este campo en mandatorio</mat-error>
      </mat-form-field>

      <mat-form-field class="example-full-width">
        <mat-label>Descripción del Perfil Laboral</mat-label>
        <textarea matInput formControlName="workProfile" rows="3"  [(ngModel)]="cliente.profileDescription" required></textarea>
      </mat-form-field>

      <div>
        <button mat-button matStepperPrevious>Atrás</button>
        <button mat-button matStepperNext>Continuar</button>
      </div>
    </form>
  </mat-step>

  <mat-step>
    <ng-template matStepLabel>Confirmar</ng-template>
    <p>Seleccione la opción de Solicitar para empezar con su registro.</p>
    <div>
      <button mat-button matStepperPrevious>Atrás</button>
      <button mat-button (click)="createCliente()" >Solicitar</button>
    </div>
  </mat-step>
</mat-stepper>
